<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ABC">
    
    <listeners>
		<listener class-name="atu.testng.reports.listeners.ATUReportsListener"></listener>
		<listener class-name="atu.testng.reports.listeners.ConfigurationListener"></listener>
		<listener class-name="atu.testng.reports.listeners.MethodListener"></listener>
	</listeners>
	
    <parameter name="browser" value="chrome"/>
    <parameter name="runDesc" value="ABC automation" />
	<parameter name="url" value="http://www.abc.net.au/news/" />
    
  <test name="Browserlaunch">
      
       <classes>
         <class name="Utilities.ABCCommon" />
      </classes>
     
  </test>
  
  <test name="sitelaunch">
      
       <classes>
         <class name="test.NewTest" />
         <class name="test.NewsBanner" />
         <class name="test.JustIn"/>
      </classes>
     
  </test><!-- Test -->
</suite> <!-- Suite -->
